canvas {
	border: 2px solid black;
}

button {
	margin-bottom: 10px;
}

p {
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
}

#slider {
	float: right;
	display: inline;
}
.colour-spectrum .sp-palette {
	max-width: 200px;
	margin-top: 10px;
}