canvas {
	border: 2px solid black;
}

button {
	margin-bottom: 10px;
}

p.select {
	float: bottom;
	display: inline;
	margin-right: 10px;
}

.colour-spectrum .sp-palette {
	max-width: 200px;
}